<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <div class="select-form">
                <ul>
                    <li><a href='/login'>Go to Login form</a></li>
                </ul>
                <ul>
                    <li> <a href='/register'>Register Now!</a></li>
                </ul>
            </div>
    </body>

</html>