* {
    margin: 0;
    padding: 0;
    /* I love this */
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: violet;
    display: flex;
    /* I do not agree to use vh, either use px or rem(em) */
    padding: 4vh;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.select-form ul {
    margin: 20px;
}


/* 0px can be just 0 */
/* For spacing, try to keep values 4 or 4 * n */
h2 {
    margin: 15px 0px;
}

.form-sec {
    margin-bottom: 20px;
}

/* without div tag */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 20px;
}

label {
    /* may not need it, check default */
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}